{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>Document</title>
</head>
<body>
   
    <!-- section 1 -->

    <div class="container-fluid r1">
        <div class="row pt-2 pb-2">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <a href=""><img src="{% static 'images/icon-facebook.png' %}" alt="" class="=i1"></a>
                <a href=""><img src="{% static 'images/icon-twitter.png' %}" alt="" class="i1 ms-4"></a>
                <a href=""><img src="{% static 'images/icon-linkedin.png' %}" alt="" class="i1 ms-4"></a>
                <a href=""><img src="{% static 'images/icon-instagram.png' %}" alt="" class="i1 ms-4"></a>
            </div>
            <div class="col-lg-4">
                <a href="" class="a1"><img src="{% static 'images/icon-message.png' %}" alt="" class="i1">info@roundplanet</a>
                <a href="" class="a1"><img src="{% static 'images/icon-call.png' %}" alt="" class="i1 ms-5">+91 98765 43210</a>
            </div>
        </div>
    </div>

    <!-- section2 -->
    <div class="container-fluid sticky-top">
        
        <div class="row bg-white">
            <div class="col-lg-5">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="" class="logo"></a>
            </div>
            <div class="col-lg col-md col-sm-1 mt-4 mb-3">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                     
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          
                          <li>
                            <a class="nav-link l1" aria-current="page" href="{% url 'about' %}">ABOUT US</a>
                          </li>
                          <li> 
                            <a class="nav-link l2 ms-4" aria-current="page" href="{% url 'packages' %}">PACKAGES</a>
                          </li>
                          <li>
                            <a class="nav-link l2 ms-4" aria-current="page" href="{% url 'news' %}">NEWS & EVENTS</a>
                          </li>
                          <li>
                            <a class="nav-link l2 ms-4" aria-current="page" href="{% url 'gallery' %}">GALLERY</a>
                          </li>
                          <li>
                            <a class="nav-link l3 ms-4" aria-current="page" href="{% url 'contact' %}">CONTACT US</a>
                          </li>
                        </ul>
                        
                      </div>
                    </div>
                  </nav>

            </div>
        </div>
    </div>

    <!-- section3 -->
    <div class="c mt-4">
        <div class="row">
            <div class="col-lg">
              <div class=" d2 mt-4">About Us</div>
            </div>
        </div>
    </div>

    <!-- section4 -->
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg c4 mt-5">
                <h1>Welcome to Round D’Planet – <br>
                    Your Passport to Extraordinary Journeys!</h1>
                <p class="mt-5">At Round D’Planet, we’re not just travel enthusiasts; we’re your dedicated companions on the road to unforgettable adventures. Our journey together is defined by passion, <br>experience, and a commitment to crafting personalized travel experiences that linger in your heart forever.</p>
            </div>
        </div>
    </div>
 
    <!-- section5 -->
    <div class="d5">
        <div class="container">
            <div class="row">
                <div class="col-lg ms-5 mb-5">
                    <img src="{% static 'images/image1.jpg' %}" alt="" class="w-100 im5">
                </div>
                <div class="col-lg-7 mt-5 mb-5">
                    <div class="row">
                        <div class="col-lg c9">
                            <h1 class="ms-5 mt-4 why">
                               Our Mission
                            </h1>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg cone ms-5">
                            <p>At Round D’Planet, our unique mission is to bring your travel dreams to life. We achieve this by tailoring each experience to suit your individual preferences and desires. We believe in responsible travel, which means respecting local cultures and the environment everywhere we go. Our team of travel enthusiasts is passionate and knowledgeable, ensuring your journey is nothing short of extraordinary. We focus on cultural exchange, introducing you to the traditions, flavors, and heritage of each destination, fostering a deeper connection with the local communities. Through global collaboration and continuous learning, we strive to stay at the forefront of travel trends and provide you with exceptional experiences.</p>
                            <p>Ultimately, our goal is to create cherished memories that last a lifetime, making every adventure with Round D’Planet truly unforgettable.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- section6 -->
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg">
                <h1 class="why">
                    Why Choose Round D’Planet?
                </h1>
                <ul>
                    <li><h6>Business Brilliance:</h6>For the corporate explorer, we curate exceptional business tours. Dive into government meetings, explore factories, and seize lucrative business opportunities in exotic locales.</li>
                    <li class="mt-2"><h6>Educational Exploration: </h6>We believe that education should transcend classrooms. Our educational tours for schools and colleges transform learning into a thrilling adventure.</li>
                    <li class="mt-2"><h6>Adventure Awaits:</h6> Seek adrenaline-charged experiences? Our adventurous tours are designed for thrill-seekers who crave excitement and exploration.</li>
                    <li class="mt-2"><h6>Romantic Retreats:</h6> Celebrate love with our magical honeymoon packages in breathtaking destinations that set the stage for romance and lifelong memories.</li>
                    <li class="mt-2"><h6>Family Getaways:</h6> Create cherished family moments with our family-focused trips designed to cater to all age groups.</li>
                    <li class="mt-2"><h6>Ladies’ Escapes & Men’s Retreats:</h6> Our tours are designed to cater to your specific needs, ensuring a comfortable and enjoyable journey for everyone.</li>
                    <li class="mt-2"><h6>Our Global Reach:</h6> We spread our wings across Indonesia, India, Malaysia, Singapore, Vietnam, Cambodia, UAE, Oman, and Qatar, offering you the world on a platter.</li>
                    <li class="mt-2"><h6>Your Friendly Travel Partners:</h6> The Round D’Planet team is your extended family on the road. Approachable, responsive, and always eager to assist, we’re here to make your journey stress-free.</li>
                    <li class="mt-2"><h6>Tailored Just for You:</h6> Your desires are at the heart of our packages. We customize every trip to match your preferences and dreams.</li>
                    <li class="mt-2"><h6>Decades of Expertise:</h6> With over 20 years of experience in Southeast Asia and Arab countries , we bring a wealth of knowledge and insights to ensure your journey is nothing less than extraordinary.</li>
                <p class="mt-3">Join us at Round D’Planet, where each adventure is a story waiting to be written, and each traveler is family. Let’s embark on a journey that’ll fill your life with stories, smiles, and unforgettable moments. Your adventure starts with us!</p>
                
                </ul>
            </div>
        </div>
    </div>

    <!-- section-7 -->


    <div class="footer mt-5">
        <div class="container">
            <div class="row rtwo">
                <div class="col-lg-1 col-md-1 col-sm-1">
                   <img src="{% static 'images/icon1.png' %}" alt="" class="imageicon">
                </div>
                <div class="col-lg col-md col-sm mt-3 ms-3 text-light">
                    <h5>Download Our Informative Brochure</h5>
                    <p>Get all the details you need about our offerings in one convenient brochure.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 mt-3">
                    <a href="" class="href1"><img src="{% static 'images/icon-download.png' %}" alt="" class="icon-download">
                        <span class="ms-3 text-light">Download</span></a>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-lg col-md col-sm mt-5">
                    <img src="{% static 'images/logo1.png' %}" alt="" class="w-30">
                </div>
                <div class="col-lg col-md col-sm mt-5">
                    <h4 class="text-light">Quick Links</h4>
                    <ul class="ul">
                        <li><a href="" class="li">Home</a></li>
                        <li><a href="" class="li">About Us</a></li>
                        <li><a href="" class="li">Services</a></li>
                        <li><a href="" class="li">Packages</a></li>
                        <li><a href="" class="li">Gallery</a></li>
                        <li><a href="" class="li">Testimonials</a></li>
                        <li><a href="" class="li">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg col-md col-sm mt-5">
                    <h4 class="text-light">Our Packages</h4>
                    <ul class="ul">
                        <li><a href="" class="li">Home</a></li>
                        <li><a href="" class="li">About Us</a></li>
                        <li><a href="" class="li">Services</a></li>
                        <li><a href="" class="li">Packages</a></li>
                        <li><a href="" class="li">Gallery</a></li>
                        <li><a href="" class="li">Testimonials</a></li>
                        <li><a href="" class="li">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg col-md col-sm mt-5">
                    <h4 class="text-light">Get In Touch</h4>
                    <p class="para2">
                        Address Line 1, Address Line 2,<br>
                        Location, Street Name <br>
                        Country Pin 000000
                        <br><br>
                        <a href="" class="href2"> +91 98765 43210 </a>
                        <br><br>
                        <a href="" class="href2">info@rounddplanet.com</a>
                    </p>
                    <div class="col-lg col-md col-sm">
                        <a href=""><img src="{% static 'images/icon-facebook.png' %}" alt="" class="icons1"></a>
                        <a href=""><img src="{% static 'images/icon-twitter.png' %}" alt="" class="icons2 ms-2"></a>
                        <a href=""><img src="{% static 'images/icon-linkedin.png' %}" alt="" class="icons3 ms-2"></a>
                        <a href=""><img src="{% static 'images/icon-instagram.png' %}" alt="" class="icons4 ms-2"></a>
                        <a href=""><img src="{% static 'images/icons-youtube.png' %}" alt="" class="icons5 ms-2"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="para3 text-light text-center">
            <p class="mt-2">2023 © RoundD’ Planet. All Right Reserved.</p>
        </div>
    </div>















    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>